.container {
  width: 1200px;
  height: 800px;
  display: flex;
  justify-content: flex-start;
}

.leftSide {
  background-color: #161b21;
  flex: 30%;
  border-right: 1px solid #3b4347;
}

.rightSide {
  background-color: #21262c;
  flex: 70%;
}

.topContainer {
  background-color: #2a2f31;
  padding: 15px;
}

.letter {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #21262c;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  margin-right: 7px;
}

.name {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}

.mainContentLeftSide {
  border-top: 1px solid #30383d;
}

.containerInput {
  padding: 10px 15px;
  border-bottom: 1px solid #30383d;
  position: relative;
}

.containerInput > img {
  position: absolute;
  top: 17px;
  left: 20px;
  cursor: initial;
}

.containerInput input {
  background-color: #2a2f31;
  border-style: none;
  border-radius: 10px;
  width: 100%;
  padding: 5px;
}

.containerInput > input {
  padding-left: 37px;
}

.containerInput input:focus {
  outline: none;
}

.containerInput input::placeholder {
  font-size: 14px;
}

.users {
  overflow-y: auto;
  z-index: 1;
  height: 100%;
  max-height: 680px;
  padding: 0 15px;
}

.users::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.users::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: hsla(0, 0%, 100%, 0.16);
}

.userContent {
  margin: 10px 0;
  padding-bottom: 11px;
  border-bottom: 1px solid #30383d7a;
  cursor: pointer;
}

.homeMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.homeMessage div {
  text-align: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.headerChat {
  background-color: #2a2f31;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #30383d;
  z-index: 1;
}

.conversation {
}

.messageBox {
  background-color: #1f2428;
  padding: 15px 5px;
  width: 100%;
}

.messageBox form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.messageBox textarea {
  background-color: #33383b;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 15px;
}

.messageBox textarea::placeholder {
  font-size: 14px;
}

.messageBox textarea::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.messageBox textarea::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.16);
}

.messageBox button {
  background-color: #1f2428;
  border: none;
  padding: 0px;
}

.sendIcon {
  width: 32px;
  height: 36px;
}
